.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main {
  border: 1px solid;
  height: 500vh;
  background-color: rgb(214, 165, 165);
  padding: 10px;
}

.Twosection {
  margin-top: 10px;
  /* border: 1px solid red; */
  height: 350px;
  background-color: #ccc;
  display: flex;
}

.Output {
  margin-top: 10px;
  border: 1px solid rgb(227, 15, 234);
  /* height: 350px; */
  /* padding: 20px; */
  background-color: paleturquoise;
}

.Form-Data {
  border: 1px solid greenyellow;
  width: 45%;
  height: 300px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: white;
}

button {
  width: 100px;
  margin-left: 150px;
  padding: 5px 10px;
  color: #ccc;
  background-color: #333;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: aliceblue;
  color: #282c34;
}

.Form-Data > h2 {
  text-align: center;
}
h2 {
  text-align: center;
}

.Corresponding-FormData {
  border: 1px solid greenyellow;
  width: 45%;
  height: 300px;
  margin-top: 20px;
  margin-left: 50px;
  padding-left: 25px;
  background-color: white;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  width: 400px;
  height: 30px;
  /* gap: 20px; */
}

.form > button {
  width: 100px;
  margin-left: 150px;
}

table {
  /* margin-left: 30%;
  margin-top: 20px; */
  margin: auto;
}
table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px 10px;
}
